<template>
  <sw-clock-simple></sw-clock-simple>
</template>

<script>
import SwClockSimple from './components/SwClockSimple.vue'
export default {
  name: 'App',
  components: {
    SwClockSimple
  }
}
</script>
